body {
  min-height: 100vh;
  margin: 0;
  font-size: 4vw;
  background: white;
}

// colors

:root {
  --grey-color: #6a6a6a;
}

// sweetalert2

.alert-title {
  font-size: 3.4vw !important;
  font-weight: normal !important;
}

.alert-popup {
  width: 72vw !important;
}

// utils

// https://css-tricks.com/making-animations-wait/
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

.text-grey {
  color: var(--grey-color);
}

// common

.music {
  position: fixed;
  top: 2vh;
  right: 3vw;
  z-index: 5;
  width: 30px;
  height: 30px;
  background: url("./assets/music-1.png") 0 0 / cover no-repeat;

  &.active {
    background-image: url("./assets/music-0.png");
  }
}

.share-tip {
  position: fixed;
  z-index: 10000;
  top: 4vh;
  right: 6vw;
  width: 38vw;
  height: 21vh;
  background: url("./assets/share-tip.png") 0 0 / contain no-repeat;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
